description = "Footer Partial"
==
{##}
{# Footer Start #}
<footer class="footer section">
	<div class="container">
		<div class="row footer-1">
			<div class="col-lg-3 ml-auto col-sm-6">
			    <a class="navbar-brand" href="{{ 'home'|page }}">
	  	            <img class="nav-item" src="/themes/mehedi-megakit/assets/images/cropped-logo_green-01.png">
	  	        </a>
			</div>
			<div class="col-lg-3 ml-auto col-sm-6">
				<ul class="list-unstyled">
				 <li class="mb-3">De lessen worden gegeven in het Koorenhuis.</li>
			</ul>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-6">
			    <ul class="list-unstyled">
			        <li class="mb-2"><i></i><a href="{{ 'algemene-voorwaarden'|page }}">Algemene Voorwaarden</a></li>
			        <li class="mb-2"><a href="{{ 'privacy-beleid'|page }}">Privacy beleid</a></li>
			        <li><a href="{{ 'contact-us'|page }}">Contact</a></li>
			     <ul>	
			</div>
			<div class="col-lg-3 ml-auto col-sm-6">
    			<ul class="list-unstyled">
    			    <li class="mb-3"><!--i class="fas fa-home col-1"></i><br-->
    			        Prinsegracht 27<br>
                        2512 EW Den Haag                        
                    </li>
                    <li class="mb-3">
                            <i class="ti-email mr-3"></i><a href="mailtoinfo@pilatesstudiodenhaag.nl">info@pilatesstudiodenhaag.nl</a>
                        </li>
                        <li class="mb-3">
                            <i class="ti-mobile mr-3"></i>+316 183 597 77
                        </li>
        			<!--li><a href="mailto:info@pilatesstudiodenhaag.nl">info@pilatesstudiodenhaag.nl</a></li-->
    			</ul>
    					

    	    </div>
		</div>
	</div> 
	<div class="footer-2">
	    <div class="container">
    		<div class="row ">
        		<div class="col-lg-6 col-md-6 col-sm-12 text-center">		    
        		    <a href="https://www.facebook.com/mounamaypilatesdenhaag/" class="fab fa-facebook"><span>  facebook</span></a>
        		</div>
        		<div class="col-lg-6 col-md-6 col-sm-12 text-center">
        		    <a href="https://www.instagram.com/mounamay.pilates/" class="fab fa-instagram pr-2"><span>  instagram</span></a>
        		</div>
        	</div>
        	<div class="row ">
        		<div class="col-lg-12 col-md-6 col-sm-6 pt-2 text-center">
        		        <p><i>©</i> 2020 Pilates Studio Den Haag. All rights reserved.</p>
        		</div>
            </div>
		</div>
	</div>
</footer>
{# Footer Close #}