description = "Carousel met commentaar klanten"

[blogPosts commentPosts]
pageNumber = "{{ :page }}"
categoryFilter = "reacties"
postsPerPage = 10
noPostsMessage = "No posts found"
sortOrder = "published_at desc"
categoryPage = "blog/category"
postPage = "blog/post"
==
{##}
{# Section Testimonial Start #}

{% set Posts = commentPosts.posts %}
{% set actief = "active" %}
{% if Posts.count > 0 %}
<section class="section commentaar bg-gray">
    <div id="carouselCommentControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            {% for post in Posts %}                
                <div class="carousel-item {{ actief }}">
                    <div class="container"> 
                        <div class="row" >
                            <h2>{{ post.title }}</h2>
                            <div class="col-lg-12 col-md-12 col-sm-12">                            
                                {% if post.featured_images.count > 0 %}
                                    <img class="media-object img-fluid rounded" src="{{ post.featured_images.first.getThumb(540, 'auto') }}" />
                                {% endif %}
                            </div>
                            <div class="col-lg-12 col-md-12 col-sm-12 banner-text">{{ post.content_html|raw }}</div>
                            
                        </div>
                    </div>
                </div>
                {% set actief = "" %}
            {% endfor %}
        </div>
            {% if Posts.count > 1 %}
                <a class="carousel-control-prev" href="#carouselCommentControls" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                 </a>
                 <a class="carousel-control-next" href="#carouselCommentControls" role="button" data-slide="next">
                     <span class="carousel-control-next-icon" aria-hidden="true"></span>
                     <span class="sr-only">Next</span>
                 </a>
            {% endif %}
            </div>
        </div>
    </div>
</section>
{% endif %}
{# Section Testimonial End #}