description = "Lesvormen partial"
==
<section class="section service">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-3 col-md-6 col-sm-6">	
				<img src="{{ 'Pilates-Website-10-2-280x180.jpg'|media }}" class="img-fluid" >
				<p>{% content 'home/lesvormen-groepslessen-txt' %}</p>
				<a href="https://www.facebook.com/mounamaypilatesdenhaag/?ref=page_internal" class="fab fa-facebook"></a>
			</div>
			
			<div class="col-lg-3 col-md-6 col-sm-6">				
				<img src="{{ 'Pilates-Website-7-2-280x180.jpg'|media }}" class="img-fluid" >
				<p>{% content 'home/lesvormen-privelessen-txt' %}</p>
				<a href="https://www.facebook.com/mounamaypilatesdenhaag/?ref=page_internal" class="fab fa-facebook"></a>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">			
					<img src="{{ 'Pilates-Website-11-2-280x180.jpg'|media }}" class="img-fluid" >
					<p>{% content 'home/lesvormen-duo-lessen-txt' %}</p>
					<a href="https://www.facebook.com/mounamaypilatesdenhaag/?ref=page_internal" class="fab fa-facebook"></a>
			</div>

			<div class="col-lg-3 col-md-6 col-sm-6">			
				<img src="{{ 'Pilates-Website-6-2-e1554120618636-280x180.jpg'|media }}" class="img-fluid" >
				<p>{% content 'home/lesvormen-personal-fitness-txt' %}</p>				
				<a href="https://www.facebook.com/mounamaypilatesdenhaag/?ref=page_internal" class="fab fa-facebook"></a>				
			</div>
		</div>
	</div>
</section>