description = "Partial voor online lessen."
==
<section class="section onlinelessen bg-gray">
    <div class="container"> 
        <div class="row" >
            <div class="col-lg-6 col-md-12 col-sm-12">                            
                <img class="media-object img-fluid rounded" src="{{ 'home/online-lessen.jpg'|media  }}" />
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12 banner-text">{% content 'home/online-lessen' %}</div>

        </div>
    </div>
</section>