description = "Services Partial"
==
{##}
{# Section Services Start #}
<section class="section service">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="fa fa-bullseye"></i>					
					{% content 'home/services-bulls-eye' %}
				</div>
			</div>			
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="fa fa-group" ></i>
					{% content 'home/services-group' %}
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5">
					<i class="fa fa-child"></i>
					{% content 'home/services-child' %}
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="fa fa-home align-center"></i>
					{% content 'home/services-home' %}
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="fa fa-heart"></i>
					{% content 'home/services-heart' %}
				</div>
			</div>
			<div class="col-lg-4 col-md-6 col-sm-6">
				<div class="service-item mb-5 mb-lg-0">
					<i class="fa fa-smile"></i>
					{% content 'home/services-smile' %}
				</div>
			</div>
		</div>
	</div>
</section>
{# Section Services End #}