description = "Slider Partial"
==
{##}
{# Slider Start #}
<section class="slider">
	<div class="container">
		<div class="row">
			<div class="col-lg-12 col-md-12 col-sm-12">
				<div class="block">
					
					<h1 class="animated fadeInUp mb-5">PILATES STUDIO DEN HAAG</h1>
					<span class="d-block mb-3 text-white text-capitalize">“All Pilates classes will be in Dutch and English as well!” </span>
					<a href="{{ 'inschrijven'|page }}" target="_blank" class="btn btn-main animated fadeInUp btn-round-full" >Inschrijven<i class="btn-icon fa fa-angle-right ml-2"></i></a>
				</div>
			</div>
		</div>
	</div>
</section>
{# Slider End #}